:root {
    --main-bg-color: #170135;
    --main-color: #542875;
    --additional-color: #75429c;
    --main-color-text: #fff;
    --bg-color-block:rgba(255, 255, 255, 0.21);
    --active-color: #ee8722;
    --additional-bg-color: #110125;
  }

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: var(--main-color-text);
    background-color: var(--main-bg-color);
}

.additional-font{
    font-family: 'Bad Script', cursive;
}